<div>
  <%= flash[:notice] %>
</div>

Edithing Book

<br>Title:<%= @book.title %></br>

<br>Body:<%= @book.body %></br>

<br>
<span><%= link_to 'Show',book_path(@book) %></span>
<span><%= link_to 'Back',books_path %></span>
</br>

<br>CopyRight Infratop.inc<br/>
