

Edithing Book
<%= form_with model: @book do |f| %>
  
  <br>
  <label for="inputTitle">Title</label>
  <br/>
  <br>
  <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"Title"%>
  <br/>
  <br>
  <label for="inputBody">Body</label>
  <br/>
  <%= f.text_field :body, autofocus: true, id:"inputbody", placeholder:"Body"%>
  <br/>
  <br>
  <%= f.submit "Update book" %>
  <br/>
<% end %>

<br>
<span><%= link_to 'Show',book_path(@book) %></span>
<span><%= link_to 'Back',books_path %></span>
</br>

<br>CopyRight Infratop.inc<br/>
