

Editing Book
<%= form_for(@book, url: book_path(@book.id)) do |f| %>
  
  <br>
  <label for="inputTitle">Title</label>
  <br/>
  <br>
  <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"Title"%>
  <br/>
  <br>
  <label for="inputBody">Option</label>
  <br/>
  <%= f.text_field :body, autofocus: true, id:"inputbody", placeholder:"Body"%>
  <br/>
  <br>
  <%= f.submit "Update Book" %>
  <br/>
<% end %>

<br>
<span><%= link_to 'Show',book_path %></span>
<span><%= link_to 'Back',books_path %></span>
</br>

<br>CopyRight Infratop.inc<br/>
