<div>
  <%= flash[:notice] %>
</div>

<br>Title:<%= @book.title %></br>

<br>Body:<%= @book.body %></br>

<br>
<span><%= link_to 'Show',user_path%></span>
|
<span><%= link_to 'Back',user_path%></span>